.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  background-color: crimson;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  color: antiquewhite;
}


