.index {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  margin: auto;
  margin-bottom: 3rem;
  background-color: #024395;
  border-radius: 25px;
  cursor: default;
}

.title {
  font-size: x-large;
  padding: 5px;
  font-weight: bold;
  color: white;
}
