.index {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  margin: auto;
  margin-bottom: 3rem;
  background-color: #212529;
  box-shadow: 5px 5px 8px blue, 10px 10px 8px yellow, 15px 15px 8px blue;
  border-radius: 25px;
  cursor: default;
}

.title {
  font-size: x-large;
  padding: 5px;
  font-weight: bold;
  color: white;
}
