.index {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-style: solid;
  margin: auto;
  margin-bottom: 3rem;
  background-color: black;
}

.title {
  font-size: 1.5rem;
  padding: 5px;
  font-weight: bold;
  color: white;
}
